select {
	width: 15rem;
	padding: 0.5rem;
	margin: 0.5rem 1rem 1.5rem 0;
	border-radius: var(--card-border-radius);
	box-shadow: 0 0.3rem 0.3rem var(--color-light);
	transition: all 300ms ease;
}

select:hover {
	box-shadow: none;
}

.tecsidel-alerts-select-label {
	font-size: 1rem;
	margin-bottom: 2rem;
}

.tecsidel-alerts-card-height {
	height: calc(100vh - 50rem);
}

.tecsidel-alerts-card-overflow {
	overflow: auto;
	height: calc(100vh - 16rem);
}

.tecsidel-alerts-card {
	overflow: auto;
	width: 95%;
	height: 100%;
}

li {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	background: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
	margin: 0.5rem;
	width: 100%;
}

li:hover {
	box-shadow: none;
}

.tecsidel-alerts-card-info-icon {
	margin-right: 1rem;
}

label {
	font-size: 1.1rem;
	margin-top: 2rem;
}

.tecsidel-card {
	border: solid 1px;
	border-radius: 2rem;
	padding: 0.5rem;
}

.icon-success {
	padding: 0.5rem;
	border-radius: 50%;
	font-size: 2rem;
	background: var(--color-success);
	color: var(--color-white);
}

.icon-warning {
	padding: 0.5rem;
	border-radius: 50%;
	font-size: 2rem;
	background: var(--color-warning);
	color: var(--color-white);
}

.icon-danger {
	padding: 0.5rem;
	border-radius: 50%;
	font-size: 2rem;
	background: var(--color-danger);
	color: var(--color-white);
}

.tecsidel-alerts-card-alert {
	width: 100%;
}

.tecsidel-alerts-card-status {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.tecsidel-alerts-card-info {
	margin-right: 5rem;
}

.tecsidel-alerts-card-info-paragraph {
	font-size: 1rem;
}

.tecsidel-alerts-card-button a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	width: 100%;
	cursor: pointer;
	border-radius: var(--border-radius-1);
	transition: all 300ms ease;
	background: var(--color-primary);
	color: var(--color-white);
	box-shadow: 0 0.3rem 0.3rem var(--color-light);
	margin-top: 0.5rem;
}

.tecsidel-alerts-card-button a:hover {
	background: var(--color-primary-transparent);
}

.tecsidel-alerts-card-button .material-icons-sharp {
	margin: 0 0 0 0.5rem;
	font-size: 1rem;
}

/**************************************** TABLET STYLE ****************************************/
@media only screen and (max-width: 768px) {
	.tecsidel-alerts-card-overflow {
		overflow: auto;
		height: calc(100vh - 12rem);
	}
}

/**************************************** MOBILE STYLE ****************************************/
@media only screen and (max-width: 375px) {
	.tecsidel-alerts,
	.tecsidel-alerts-h1 {
		margin-left: 1rem;
	}

	.tecsidel-alerts-h1 {
		font-size: 1.3rem;
	}

	.tecsidel-alerts-h2 {
		font-size: 1.1rem;
	}

	select {
		width: 14rem;
		margin-bottom: 0rem;
	}

	.tecsidel-alerts-select-label {
		font-size: 0.88rem;
	}

	.tecsidel-alerts-card {
		width: 98%;
		height: 32rem;
	}

	.tecsidel-alerts-card-alert {
		height: calc(100vh - 5rem);
	}

	.tecsidel-alerts-card-info {
		margin-right: 0rem;
	}

	li {
		width: 21.5rem;
		grid-template-columns: 2rem 19rem;
		overflow: visible;
	}

	.tecsidel-alerts-card-info-message {
		width: 16rem;
	}

	.tecsidel-alerts-card-info-paragraph {
		font-size: 0.8rem;
		width: 18rem;
	}

	.icon-success,
	.icon-warning,
	.icon-danger {
		font-size: 1rem;
		width: 1.7rem;
		padding: 0.3rem;
	}

	.tecsidel-alerts-card-status {
		display: none;
	}
}
