.tecsidel-dashboard-calendar {
	display: inline-block;
	border-radius: var(--border-radius-1);
	margin-top: 1rem;
	padding: 0.5rem 1.6rem;
	background: var(--color-light);
}

.tecsidel-dashboard-calendar-container input[type='date'] {
	background: transparent;
	color: var(--color-dark);
}

.tecsidel-dashboard-h2 {
	margin: 1rem 0 0.5rem 0;
}

.tecsidel-dashboard-cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.tecsidel-dashboards-cards-display {
	display: flex;
	flex-direction: column;
}

.tecsidel-dashboard-cards-amount,
.tecsidel-dashboard-cards-vehicles {
	display: flex;
}

.tecsidel-dashboard-cards-amount-card {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	box-shadow: 0 0.5rem 0.5rem var(--color-light);
	margin: 0 0.5rem 0.5rem 0;
	gap: 0.5rem;
	width: 18rem;
	height: 8rem;
}

.tecsidel-dashboard-cards-amount-card-info-js {
	padding-right: 1rem;
	border-radius: 50%;
	color: var(--color-white);
	padding: 7px;
}

.tecsidel-dashboard-cards-operating {
	display: flex;
	flex-wrap: wrap;
}

.tecsidel-dashboard-cards-operating-card {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	box-shadow: 0 0.5rem 0.5rem var(--color-light);
	margin: 0 0.5rem 0.5rem 0;
	gap: 0.5rem;
	width: 8rem;
	height: 8rem;
}

.tecsidel-dashboard-cards-operating-card-info {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tecsidel-dashboard-table {
	overflow: auto;
}

.tecsidel-dashboard-table-information {
	overflow-x: auto;
	border-radius: var(--card-border-radius);
	background: var(--color-white);
	padding: 0.5rem;
	width: calc(100% - 2rem);
}

.tecsidel-dashboard-table-information table {
	width: 100%;
	border-collapse: collapse;
}

.tecsidel-dashboard-table-information th,
.tecsidel-dashboard-table-information td {
	height: 2rem;
	text-align: center;
	border-bottom: 1px solid var(--color-light);
}

/******************************* TABLET STYLE *******************************/
@media only screen and (max-width: 768px) {
	.tecsidel-dashboard {
		overflow: auto;
		height: calc(90vh - 13rem);
	}

	.tecsidel-dashboard-cards {
		display: grid;
		grid-template-columns: 1fr;
	}

	.tecsidel-dashboards-cards-display {
		flex-direction: row;
	}

	.tecsidel-dashboard-cards-amount,
	.tecsidel-dashboard-cards-vehicles {
		display: flex;
		flex-direction: column;
	}

	.tecsidel-dashboard-cards-operating {
		display: flex;
		flex-direction: row;
	}

	.tecsidel-dashboard-cards-amount-card {
		width: 17rem;
	}

	.tecsidel-dashboard-cards-amount-card-info-value,
	.tecsidel-dashboard-cards-operating-card-info h1 {
		font-size: 1.6rem;
	}

	.tecsidel-dashboard-h1 {
		font-size: 1.4rem;
	}

	.tecsidel-dashboard-h2 {
		font-size: 1.2rem;
	}
}

/******************************* MOBILE STYLE *******************************/
@media only screen and (max-width: 480px) {
	.tecsidel-dashboard {
		overflow: auto;
		height: calc(90vh - 10rem);
		margin-left: 0.5rem;
	}

	.tecsidel-dashboard-cards {
		display: grid;
	}

	.tecsidel-dashboard-cards-amount-card {
		gap: 0.3rem;
		width: auto;
	}

	.tecsidel-dashboard-cards-operating-card {
		width: auto;
		height: auto;
	}

	.tecsidel-dashboard-cards-operating-card-info small {
		display: none;
	}

	.tecsidel-dashboard-cards-amount-card-info-value,
	.tecsidel-dashboard-cards-operating-card-info h1 {
		font-size: 1.2rem;
	}

	.tecsidel-dashboard-h1 {
		font-size: 1.1rem;
	}

	.tecsidel-dashboard-h2 {
		font-size: 0.9rem;
	}

	.tecsidel-dashboard-h3 {
		font-size: 0.8rem;
	}

	.material-icons-sharp {
		font-size: 1rem;
	}
}
