.tecsidel-dashboard-h2 {
	margin-bottom: 0.5rem;
}

.tecsidel-calendar {
	display: inline-block;
	border-radius: var(--border-radius-1);
	margin-top: 1rem;
	padding: 0.5rem 1.6rem;
	background: var(--color-light);
}

.tecsidel-calendar input[type='date'] {
	background: transparent;
	color: var(--color-dark);
}

.tecsidel-dashboard-calendar {
	display: inline-block;
	border-radius: var(--border-radius-1);
	margin: 1rem 0 1rem 0;
	padding: 0.5rem 1.6rem;
	background: var(--color-light);
}

.tecsidel-dashboard-calendar input[type='date'] {
	background: transparent;
	color: var(--color-dark);
	font-family: 'Titilium Web', sans-serif;
}

.tecsidel-dashboards-cards-display {
	display: flex;
}

.tecsidel-dashboard-cards {
	display: flex;
	flex-direction: column;
}

.tecsidel-dashboard-cards-amount-display,
.tecsidel-dashboard-cards-vehicle-display {
	display: flex;
}

.tecsidel-dashboard-cards-amount-card,
.tecsidel-dashboard-cards-vehicles-card {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	box-shadow: 0 0.5rem 0.5rem var(--color-light);
	width: 17.8rem;
	margin: 0 0.5rem 0.5rem 0;
	gap: 0.5rem;
}

.tecsidel-dashboard-cards-amount-card:hover,
.tecsidel-dashboard-cards-vehicles-card:hover {
	box-shadow: none;
}

.tecsidel-dashboard-icon-js {
	padding-right: 1rem;
	border-radius: 50%;
	color: var(--color-white);
	padding: 7px;
}

.tecsidel-dashboard-operating {
	display: flex;
	flex-wrap: wrap;
}

.tecsidel-dashboard-operating-card {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	box-shadow: 0 0.5rem 0.5rem var(--color-light);
	width: 8rem;
	margin: 0 0.5rem 0.5rem 0;
	gap: 0.5rem;
}

.tecsidel-dashboard-operating-card-info {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tecsidel-dashboard-mobile,
.tecsidel-dashboard-mobile,
.tecsidel-dashboard-icon-mobile,
.tecsidel-dashboard-icon-js-mobile,
.tecsidel-dashboard-operating-mobile,
.tecsidel-dashboard-operating-card-mobile,
.tecsidel-dashboard-operating-card-info-mobile,
.tecsidel-dashboard-operating-card-mobile,
.tecsidel-dashboard-tablet {
	display: none;
}

.tecsidel-dashboard-updates {
	max-width: 100%;
	overflow-x: auto;
}

.tecsidel-dashboard-updates-title {
	margin-bottom: 1rem;
}

.tecsidel-dashboard-updates {
	overflow: auto;
}

.tecsidel-dashboard-updates-overflow {
	overflow: hidden;
	border-radius: var(--card-border-radius);
}

.tecsidel-dashboard-updates-table {
	height: 15vh;
	width: 98%;
	overflow-x: auto;
	border-radius: var(--card-border-radius);
	background: var(--color-white);
}

.tecsidel-dashboard-updates-table table {
	width: 100%;
	border-collapse: collapse;
}

.tecsidel-dashboard-updates-table th,
.tecsidel-dashboard-updates-table td {
	height: 2rem;
	text-align: center;
	border-bottom: 1px solid var(--color-light);
}

/******************************* TABLET STYLE *******************************/
@media only screen and (max-width: 768px) {
	.tecsidel-dashboard-h1 {
		font-size: 1.4rem;
	}

	.tecsidel-dashboard-h2 {
		font-size: 1.2rem;
		margin-top: 0.5rem;
	}

	.tecsidel-dashboard-h3 {
		font-size: 1rem;
	}

	.tecsidel-dashboard-cards {
		display: flex;
		flex-direction: row;
	}

	.tecsidel-dashboard-operating {
		display: grid;
	}

	.tecsidel-dashboard-cards-amount-display,
	.tecsidel-dashboard-cards-vehicle-display {
		display: flex;
		flex-direction: column;
	}

	.tecsidel-dashboard-cards-amount-card,
	.tecsidel-dashboard-cards-vehicles-card {
		padding: 0.5rem;
		width: 12rem;
		margin: 0 0.8rem 0.8rem 0;
		gap: 0.5rem;
	}

	.tecsidel-dashboard-operating-card {
		padding: 0.5rem;
		width: 8rem;
		margin: 0 0.8rem 0.8rem 0;
		gap: 0.5rem;
	}

	.tecsidel-tablet-total {
		display: none;
	}

	.tecsidel-dashboard-amount {
		font-size: 1.2rem;
	}

	.tecsidel-dashboard-icon-js {
		padding-right: 1rem;
		color: var(--color-white);
		padding: 4px;
		margin-left: 0.3rem;
	}

	.tecsidel-dashboard-calendar {
		display: inline-block;
		border-radius: var(--border-radius-1);
		margin-top: 0.3rem;
		padding: 0.3rem;
		background: var(--color-light);
	}

	.tecsidel-dashboard-h2 {
		margin-bottom: 0.5rem;
	}

	.tecsidel-dashboard-tablet {
		display: flex;
		flex-direction: row;
	}

	.tecsidel-dashboard-tablet-card {
		display: flex;
		align-items: center;
		background: var(--color-white);
		border-radius: var(--card-border-radius);
		box-shadow: 0 0.5rem 0.5rem var(--color-light);
		padding: 0.8rem;
		margin: 0 2rem 0.5rem 0;
	}

	.tecsidel-dashboard-tablet-info {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.tecsidel-dashboard-updates {
		width: 98%;
		height: 22rem;
	}
}

/**************************************** MOBILE STYLE ****************************************/
@media only screen and (max-width: 375px) {
	.tecsidel-dashboard-h1,
	.tecsidel-dashboard-calendar,
	.tecsidel-dashboard {
		margin-left: 1rem;
	}

	.tecsidel-dashboard-h1 {
		font-size: 1.3rem;
	}

	.tecsidel-dashboard-h2 {
		font-size: 1.1rem;
		margin-bottom: 0.3rem;
	}

	.tecsidel-dashboard-h3 {
		font-size: 0.9rem;
	}

	.tecsidel-dashboard-calendar {
		display: inline-block;
		border-radius: var(--border-radius-1);
		margin-top: 0.3rem;
		padding: 0.3rem;
		background: var(--color-light);
	}

	.tecsidel-dashboard-cards {
		display: flex;
		flex-direction: row;
	}

	.tecsidel-dashboard-cards-amount-card,
	.tecsidel-dashboard-cards-vehicles-card,
	.tecsidel-dashboard-operating-card {
		display: none;
	}

	.tecsidel-dashboard-mobile {
		display: flex;
		flex-direction: column;
		margin-right: 0.5rem;
	}

	.tecsidel-dashboard-mobile-card {
		display: flex;
		align-items: center;
		background: var(--color-white);
		border-radius: var(--card-border-radius);
		box-shadow: 0 0.5rem 0.5rem var(--color-light);
		padding: 0.6rem;
		margin-bottom: 0.5rem;
	}

	.tecsidel-dashboard-operating-mobile {
		display: flex;
		flex-direction: column;
	}

	.tecsidel-dashboard-mobile-info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.tecsidel-dashboard-icon-mobile {
		display: contents;
	}

	.tecsidel-dashboard-icon-js {
		padding-right: 1rem;
		border-radius: 50%;
		color: var(--color-white);
		padding: 4px;
		font-size: 1rem;
		margin-left: 0.5rem;
	}

	.tecsidel-dashboard-updates {
		width: 22rem;
		height: 15rem;
	}

	.tecsidel-dashboard-updates-table th,
	.tecsidel-dashboard-updates-table td {
		padding: 6px;
		font-size: 0.7rem;
	}

	.tecsidel-dashboard-cards-vehicle-display {
		display: flex;
		flex-direction: row;
	}
}
